.discovery {
    margin-bottom: 130px;
    .container {
        max-width: 840px;
    }
    &_item {
        margin-bottom: 60px;
        h2 {
            padding: 20px 15px;
            background-color: #FAF5EF;
            text-align: center;
            color: #B3761D;
            margin-bottom: 30px;
            font-weight: 500;
        }
        p {
            line-height: 1.7;
            text-align: justify;
            margin-bottom: 30px;
        }
    }
    &_pic {
        width: 600px;
        display: block;
        margin: 0 auto 30px;
    }
    &_link {
        border-radius: 30px;
        padding: 30px;
        border: 1px solid $primary;
        h3 {
            font-size: 22px;
            padding-bottom: 15px;
            border-bottom: 1px solid $gray-200;
            font-weight: 700;
            color: $primary-2;
        }
        ul {
            li {
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        color: $gray-900;
                        transition: $transition;
                    }
                    img {
                        width: 10px;
                    }
                    &:hover {
                        span {
                            color: $primary-2;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &_name {
            font-size: 14px;
            color: $gray-600;
        }
    }
    @media screen and (max-width: 991px) {
        &_link {
            padding: 20px;
            ul {
                li {
                    flex-direction: column;
                    a {
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }
            }
            &_name {
                width: 100%;
            }
        }
    }
}